{% extends 'blog/basic.html' %}
{%  block title  %} this is blog home page {%  endblock %}
{% block body %}
    <!-- <h1>Hello, world!</h1> -->
    <!-- {% load static%}
    <a href="{%static 'blog/mystatic.txt' %}"> click me</a> -->
    <div class="container my-4">
      <div class="row mb-2">
      {% for item in mypost%}
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{item.Title}}</strong>
            <h3 class="mb-0">{{item.head0}}</h3>
            <div class="mb-1 text-muted">{{item.pub_date}}</div>
            <p class="card-text mb-auto">{{item.head1}}</p>
            <a href="blogpost/{{item.blog_id}}" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/media/{{item.thumbnail}}" class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></img>
  
          </div>
        </div>
      </div>
    {% if forloop.counter|divisibleby:2%}
    </div><div class="row mb-2">
      {%endif%}
      {%endfor%}
    </div>
    </div>

    {%  endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->