{% extends 'shop/basics.html' %}
{%  block title  %} this is about  {%  endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Ecom Site!</h1>
      <p>
        We’ve come a long way, so we know exactly which direction to take when supplying you with high quality yet budget-friendly products.
         We offer all of this while providing excellent customer service and friendly support.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Latest Trends!</h2>
        <p>We always keep an eye on the latest trends in and put our customers’ wishes first. That is why we have satisfied customers all over the world, and are thrilled to be a part of theindustry.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Our Priorities</h2>
        <p>The interests of our customers are always top priority for us, so we hope you will enjoy our products as much as we enjoy making them available to you. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Our Aim</h2>
        <p>At <b>My Ecom Site</b> our aim is to offer you the best that show you that we really care! Not only have we got the trendiest but we can also guarantee that they are of the finest quality.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{%  endblock %}